.address_footer {

  &__text {
    text-align: center;
  }

  &__map {
    min-height: 267px;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .5s filter;

    &:hover {
      filter: grayscale(0);
    }
  }

  span{
    font-size: 24px;
    color: #828f9e;
    font-family: 'Uni Sans', Arial, sans-serif;
    font-weight: 400;
  }

  p {
    color: #49596b;
    font-size: 30px;
    font-family: 'Uni Sans', Arial, sans-serif;
    font-weight: 400;
    margin: 0;
  }
}