@font-face {
	font-family: 'Uni Sans';
	src: url('../fonts/UniSans/UniSansRegular.eot');
	src: local('../fonts/UniSans/Uni Sans Regular'), local('UniSansRegular'),
	url('../fonts/UniSans/UniSansRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansRegular.woff') format('woff'),
	url('../fonts/UniSans/UniSansRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Uni Sans Heavy';
	src: url('../fonts/UniSans/UniSansHeavyItalic.eot');
	src: local('../fonts/UniSans/Uni Sans Heavy Italic'), local('UniSansHeavyItalic'),
	url('../fonts/UniSans/UniSansHeavyItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansHeavyItalic.woff') format('woff'),
	url('../fonts/UniSans/UniSansHeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Uni Sans';
	src: url('../fonts/UniSans/UniSansThin.eot');
	src: local('../fonts/UniSans/Uni Sans Thin'), local('UniSansThin'),
	url('../fonts/UniSans/UniSansThin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansThin.woff') format('woff'),
	url('../fonts/UniSans/UniSansThin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Uni Sans';
	src: url('../fonts/UniSans/UniSansBold.eot');
	src: local('../fonts/UniSans/Uni Sans Bold'), local('UniSansBold'),
	url('../fonts/UniSans/UniSansBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansBold.woff') format('woff'),
	url('../fonts/UniSans/UniSansBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Uni Sans Heavy CAPS';
	src: url('../fonts/UniSans/UniSansHeavyCAPS.eot');
	src: local('../fonts/UniSans/Uni Sans Heavy CAPS'), local('UniSansHeavyCAPS'),
	url('../fonts/UniSans/UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansHeavyCAPS.woff') format('woff'),
	url('../fonts/UniSans/UniSansHeavyCAPS.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Uni Sans Light';
	src: url('../fonts/UniSans/UniSansLightItalic.eot');
	src: local('../fonts/UniSans/Uni Sans Light Italic'), local('UniSansLightItalic'),
	url('../fonts/UniSans/UniSansLightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansLightItalic.woff') format('woff'),
	url('../fonts/UniSans/UniSansLightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Uni Sans Book';
	src: url('../fonts/UniSans/UniSansBook.eot');
	src: local('../fonts/UniSans/Uni Sans Book'), local('UniSansBook'),
	url('../fonts/UniSans/UniSansBook.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansBook.woff') format('woff'),
	url('../fonts/UniSans/UniSansBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Uni Sans';
	src: url('../fonts/UniSans/UniSansSemiBold.eot');
	src: local('../fonts/UniSans/Uni Sans SemiBold'), local('UniSansSemiBold'),
	url('../fonts/UniSans/UniSansSemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansSemiBold.woff') format('woff'),
	url('../fonts/UniSans/UniSansSemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Uni Sans Regular';
	src: url('../fonts/UniSans/UniSansRegularItalic.eot');
	src: local('../fonts/UniSans/Uni Sans Regular Italic'), local('UniSansRegularItalic'),
	url('../fonts/UniSans/UniSansRegularItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansRegularItalic.woff') format('woff'),
	url('../fonts/UniSans/UniSansRegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Uni Sans';
	src: url('../fonts/UniSans/UniSansHeavy.eot');
	src: local('../fonts/UniSans/Uni Sans Heavy'), local('UniSansHeavy'),
	url('../fonts/UniSans/UniSansHeavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansHeavy.woff') format('woff'),
	url('../fonts/UniSans/UniSansHeavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Uni Sans Heavy Italic CAPS';
	src: url('../fonts/UniSans/UniSansHeavyItalicCAPS.eot');
	src: local('../fonts/UniSans/Uni Sans Heavy Italic CAPS'), local('UniSansHeavyItalicCAPS'),
	url('../fonts/UniSans/UniSansHeavyItalicCAPS.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansHeavyItalicCAPS.woff') format('woff'),
	url('../fonts/UniSans/UniSansHeavyItalicCAPS.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Uni Sans Heavy Caps';
	src: url('../fonts/UniSans/UniSansHeavyCapsItalic.eot');
	src: local('../fonts/UniSans/Uni Sans Heavy Caps Italic'), local('UniSansHeavyCapsItalic'),
	url('../fonts/UniSans/UniSansHeavyCapsItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansHeavyCapsItalic.woff') format('woff'),
	url('../fonts/UniSans/UniSansHeavyCapsItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Uni Sans SemiBold';
	src: url('../fonts/UniSans/UniSansSemiBoldItalic.eot');
	src: local('../fonts/UniSans/Uni Sans SemiBold Italic'), local('UniSansSemiBoldItalic'),
	url('../fonts/UniSans/UniSansSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansSemiBoldItalic.woff') format('woff'),
	url('../fonts/UniSans/UniSansSemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Uni Sans Bold';
	src: url('../fonts/UniSans/UniSansBoldItalic.eot');
	src: local('../fonts/UniSans/Uni Sans Bold Italic'), local('UniSansBoldItalic'),
	url('../fonts/UniSans/UniSansBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansBoldItalic.woff') format('woff'),
	url('../fonts/UniSans/UniSansBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Uni Sans Book';
	src: url('../fonts/UniSans/UniSansBookItalic.eot');
	src: local('../fonts/UniSans/Uni Sans Book Italic'), local('UniSansBookItalic'),
	url('../fonts/UniSans/UniSansBookItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansBookItalic.woff') format('woff'),
	url('../fonts/UniSans/UniSansBookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Uni Sans';
	src: url('../fonts/UniSans/UniSansLight.eot');
	src: local('../fonts/UniSans/Uni Sans Light'), local('UniSansLight'),
	url('../fonts/UniSans/UniSansLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/UniSans/UniSansLight.woff') format('woff'),
	url('../fonts/UniSans/UniSansLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}